
#load {
    position: fixed;
    display: block;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }
/* modo escuro e claro*/

:root {
    --dark-color:#1d2e38;
    --orange-color:orange;
    --main-color:white;
}
.nice-themes-colors {
    --dark-color:white;
    --orange-color:#03bdca;
    --main-color:#1d2e38;
}



body {
    margin: 0;
    font-family: roboto;
   
}

#utt {
    width: 230px;
    height: 240px;
    background: var(--main-color);
    position:relative;
    top: 50px;
    border-style: none;
    border-color: var(--dark-color);
}

header {
    width: 100%;
    height:50px ;
    background: var(--orange-color);
}
nav {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#one{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
    color: var(--dark-color);
    
}

#one h1 {
    font-size: 18px;
}

#one button {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    background: var(--dark-color);
    cursor: pointer;
}

#two {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 20px;
    color: var(--dark-color);
}

.menus {
    width: 80px;
    height: 30px;
    background: transparent;
    text-align: center;
    font-weight: 600;
}

#space {
    width: 100%;
    height: 400px;
    background: var(--main-color);
}

#spacee {
    width: 100%;
    height: 200px;
    background: var(--orange-color);
}

#local {
    width: 80%;
    height: 70px;
    padding-top:30px ;
    margin: auto;
    font-size: 13px;
    color: var(--dark-color);
}


#locall {
    width: 70%;
    height: 270px;
    padding-top: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#parte {
    background: var(--dark-color);
    width: 50%;
    height: 80%; 
}

#partee {
    background: var(--orange-color);
    width: 30%;
    height: 100%;
}

#grid {
    width: 70%;
    height: 160px;
    padding-top: 40px;
    margin: auto;
}

.jaja {
    width: 120px;
    height: 25px;
    margin-left: 30px;
    background: var(--dark-color);
    border: none;
   
}

::placeholder {
    color: var(--main-color);
}

#haha {
    width: 80px;
    height: 25px;
    margin-left: 30px;
    background: var(--dark-color);
    border: none;
    color: var(--main-color);
    cursor: pointer;
}





.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 28, 28);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 80px;
    height: 80px;
}

.loader::after {
    content: "";
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    margin: 8px;
    animation: spin 1.2s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

iframe {
    opacity: 0;
    display: none;
}







