:root {
  --board-rows: ;
  --board-columns: ;

  --board-width: calc((var(--tile-size) + var(--tile-margin) * 2) * var(--board-columns));
  --board-height: calc((var(--tile-size) + (var(--tile-margin) + .5vh) * 2) * var(--board-rows));

  --tile-margin: calc(var(--tile-size) / 20);
  --tile-size: min(60px, calc(86vw / var(--board-columns)), calc(50vh / var(--board-rows)));
}

#current-tile {
  background-color: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  width: min(700px, 96vw);
  height: 6vh;
  margin: 0 auto;
}
#title {
  width: 80%;
  height: 100%;
  margin: 0 auto;


  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  font-size: min(26px, 5vh, 5vw);
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/*
hr {
  margin: 0 auto;
  height: 1px;
  border: none;
  background-color: black;
  width: min(700px, 96vw);
}
*/


#notify-container {
  width: fit-content;
  height: min(36px, 5vh, calc(var(--tile-size) / 1.8));
  margin: 0 auto;
  padding: 0 min(30px, 5vw, 4vh);

  font-size: min(24px, 3vh, 6vw, calc(var(--tile-size) / 2.5));
  
  align-items: center;
  display: none;
}
#answer {
  font-weight: bold;
}


#board-container {
  width: fit-content;
  margin: 0 auto;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#board {

  width: var(--board-width);
  height: var(--board-height);
  padding: 0px;

  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  margin: calc(var(--tile-margin) + .5vh) var(--tile-margin);
  
  border: 1px solid black;
  color: black;
  font-size: calc(var(--tile-size) / 2);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.correct {
  background-color: green;
  color: whitesmoke;
  border-color: red;
}
.present {
  background-color: orange;
  color: whitesmoke;
  border-color: red;
}
.absent {
  background-color: grey;
  color: whitesmoke;
  border-color: red;
}

#keyboard {
  height: 25vh;
  width: min(700px, 96vw);
  margin: 0 auto;
  margin-bottom: 6px;
  padding: 6px;

  border: 1px solid black;
}