:root {
  --board-width: calc((var(--tile-size) + var(--tile-margin) * 2) * var(--board-columns));
  --board-height: calc((var(--tile-size) + (var(--tile-margin) + .5vh) * 2) * var(--board-rows));

  --tile-margin: calc(var(--tile-size) / 20);
  --tile-size: min(60px, calc(86vw / var(--board-columns)), calc(50vh / var(--board-rows)));
}

#current-tile {
  background-color: grey;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body > * {
  margin: 0 auto;
}
.btn-exit-game {
  position: absolute;
  top: 0;
  left: 0;
}
header {
  width: min(700px, 96vw);
  height: 6vh;
  margin: 0 auto;
}
#title {
  width: 80%;
  height: 100%;
  margin: 0 auto;


  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  font-size: min(26px, 5vh, 5vw);
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


#notify-container {
  width: fit-content;
  height: min(36px, 5vh, calc(var(--tile-size) / 1.8));
  margin: 0 auto;
  padding: 0 min(30px, 5vw, 4vh);

  visibility: hidden;

  font-size: min(24px, 3vh, 6vw, calc(var(--tile-size) / 2.5));
  
  display: flex;
  align-items: center;
  user-select: none;
}
#answer {
  display: none;
}


#board-container {
  width: fit-content;
  margin: 0 auto;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#board {

  width: var(--board-width);
  height: var(--board-height);
  padding: 0px;

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  margin: calc(var(--tile-margin) + .5vh) var(--tile-margin);
  
  color: black;
  border: 1px solid black;

  font-size: calc(var(--tile-size) / 2);
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}
.correct {
  background-color: green;
  color: whitesmoke;
  border-color: red;
}
.present {
  background-color: orange;
  color: whitesmoke;
  border-color: red;
}
.absent {
  background-color: grey;
  color: whitesmoke;
  border-color: red;
}
#win-popup, #lose-popup {
  background-color: #ffffffd3;
  border: 1px solid black;
  width: calc(var(--board-width) + var(--tile-margin) * 2);
  height: fit-content;
  padding: 20px;
  
  text-align: center;
  line-height: 30px;
  position: absolute;

  display: block;
  display: none;
}

#keyboard {
  height: 25vh;
  width: min(700px, 98vw);
  margin: 0 auto;
  padding: min(6px, .5vw);
  padding-top: 0;

  user-select: none;
}

.keyboard-row {
  width: 100%;
  height: calc(100% / 3);
  margin: 0 auto;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.key-tile, .enter-key-tile {
  width: var(--tile-size);
  margin: min(6px, .5vw);
  
  color: blue;
  border: 1px solid rgb(0, 0, 0);

  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}
.enter-key-tile {
  background-color: transparent;
  width: calc(var(--tile-size) * 2);
}